Flask==3.0.3
flask-cors==4.0.1
moviepy==1.0.3
numpy==2.1.0
soundfile==0.12.1
librosa==0.10.2.post1
matplotlib==3.9.2
plotly==5.24.1
python-dotenv==1.0.1
faster-whisper==1.0.2
groq==0.9.0
requests==2.32.3
werkzeug==3.0.3
